<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarvis.performance">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application>

        <service android:name=".PerformanceMonitorService"/>

        <service android:enabled="true" android:exported="false" android:name=".cpu.UsageUpdateService">
            <intent-filter>
                <action android:name="com.jarvis.performance.cpu.IUsageUpdateService" />
            </intent-filter>
        </service>

    </application>
</manifest>
